.playerDiv{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.loginDiv{
    background-color: #191414;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.loginDiv a{
    background-color: #1DB954;
    font-family: 'Roboto';
    text-decoration: none;
    padding: 15px 50px;
    color: #eeeeee;
    border-radius: 30px;
    font-size: 24px;
}

.loginDiv h1{
    font-size: 48px;
    color: #eeeeee;
}

.loadingDiv{
    background-color: #191414;
    height: 100%;
    width: 100%;
}